<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('文学创作信息表修改')"/>
    <link th:href="@{/static/admin/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/admin/bootstarp/css/fileinput.min.css}" rel="stylesheet"/>
    <style type="text/css">
        .labelStyle{
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            align-items: center;
            margin-right: 5px;
            padding: 5px 10px;
            background-color: #f6dda4;
            border-radius: 5px;
            color: #FFFFFF;
        }
        .alertClass{
            border-color: #ff0000;
        }
        .layui-flex-row{
            display: flex;
            flex-display: row;
            -ms-flex-direction: row;
            -webkit-flex-direction: row;
        }
        .inputdiv{
            display:flex;border: 1px solid #D2D2D2!important;
            background-color: #fff;
            height: 38px;
            line-height: 38px;
            /* padding: 0px 19px;*/
            border-radius: 4px;
        }
        .layui-input-a {
            border-style: none;
        }
        .inputdiv:hover{border-color:#D2D2D2!important}
        .iconStyle{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 30px;
            text-align: center;
            line-height: 35px;
        }
        .text-black{
            color: #000000;
        }
        label.layui-form-label{
            width: 110px;
        }
        div.layui-form-item{
            width: 50%;
        }
        .layui-flex-wrap{
            flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
        }
    </style>
</head>
<body>
<form class="layui-form" action=""  th:object="${ProLiter}">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container layui-flex-row layui-flex-wrap" >


                    <div class="layui-form-item layui-hide">
                        <label class="layui-form-label">主键</label>
                        <div class="layui-input-block">
                            <input type="text" th:value="*{uid}" name="uid" lay-verify="title"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">书名</label>
                        <div class="layui-input-block">
                            <input th:value="*{name}" readonly="true" type="text" name="name" autocomplete="off" placeholder="书名" class="layui-input" lay-verify="name">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">二维码</label>
                        <div class="layui-input-block">
                            <img style="width: auto;height: auto;max-width: 100%;max-height: 100%;" alt="" class="img-responsive-social"  id="qrCode" name="qrCode" th:src="*{qrCode}">
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">封面</label>
                        <div class="layui-input-block layui-flex-row layui-flex-wrap">
                            <img style="width: auto;height: auto;max-width: 100%;max-height: 100%;margin-top:5px;" alt="" class="img-responsive-social"  id="cover2" name="cover2" th:src="*{cover}">
                        </div>
                    </div>



                    <input id="cover" name="cover"  th:value="*{cover}" type="hidden"/>


                    <div class="layui-form-item">
                        <label class="layui-form-label">展示图</label>
                        <div class="layui-input-block layui-flex-row layui-flex-wrap">
                            <img style="width: auto;height: auto;max-width: 100%;max-height: 100%;margin-top:5px;" alt="" class="img-responsive-social"  id="exhibition2" name="exhibition2" th:src="*{exhibition}">
                        </div>
                    </div>

                    <!-- <div class="layui-form-item">
                         <label class="layui-form-label">浏览</label>
                         <div class="layui-input-block">
                             <img style="width: auto;height: auto;max-width: 100%;max-height: 100%;" alt="" class="img-responsive-social"  id="exhibition2" name="exhibition2" th:src="*{exhibition}">
                         </div>
                     </div>-->

                    <input id="exhibition" name="exhibition" th:value="*{exhibition}" type="hidden"/>

                    <div class="layui-form-item">
                        <label class="layui-form-label">类型</label>
                        <div class="layui-input-block">
                            <select  id="kind" name="kind" disabled="disabled" class="layui-input valid" readonly="true" aria-invalid="false"  th:value="*{kind}">
                                <option th:if="*{kind eq '00'}"  th:selected="selected" value="0">自由创作</option>
                                <option th:if="*{kind eq '1'}"   th:selected="selected" value="1">历史</option>
                                <option th:if="*{kind eq '2'}"   th:selected="selected" value="2">文学</option>
                                <option th:if="*{kind eq '3'}"   th:selected="selected" value="3">思想</option>
                                <option th:if="*{kind eq '4'}"   th:selected="selected" value="4">游戏</option>
                                <option th:if="*{kind eq '5'}"   th:selected="selected" value="5">言情</option>
                                <option th:if="*{kind eq '6'}"   th:selected="selected" value="6">心理</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">标签</label>
                        <div id="label3" class="layui-input-block" style="display: flex;-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;align-items: center">
                            <th:block th:if="${ProLiter.label} != null" th:each="text : ${#strings.arraySplit(ProLiter.label, ';')}">
                                <div th:id="childLable+${text}"  style="display: flex;-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;align-items: center;margin-right: 10px;">
                                    <div th:id="lableIndex+${text}"  class="labelStyle" th:text="${text}"></div>
                           <!--         <span th:data-id="${text}" onclick="empty(this.getAttribute('data-id'))" class="layui-icon layui-icon-close"></span>-->
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <input id="label" name="label" th:value="*{label}" type="hidden"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">介绍</label>
                        <div class="layui-input-block">
                            <textarea th:text="*{introduce}" type="text" readonly="true" name="introduce" autocomplete="off" placeholder="介绍" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">描述</label>
                        <div class="layui-input-block">
                            <textarea th:text="*{description}" type="text" readonly="true" name="description" autocomplete="off" placeholder="描述" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">评分</label>
                        <div class="layui-input-block">
                            <input th:value="*{rate}" readonly="true" type="text" name="rate" autocomplete="off" placeholder="评分" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">类别</label>
                        <div class="layui-input-block">
                            <select id="typ" readonly="true" disabled name="typ" class="layui-input valid" aria-invalid="false"  th:value="*{typ}">
                                <option th:if="*{typ eq 1}" th:selected="selected" value="1">按字数分配版权</option>
                                <option th:if="*{typ eq 2}" th:selected="selected" value="2">按章节分配版权</option>
                                <option th:if="*{typ eq 3}" th:selected="selected" value="3">固定版权</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">章节</label>
                        <div class="layui-input-block">
                            <input th:value="*{charpter}" readonly="true" type="text" name="charpter" autocomplete="off" placeholder="章节" class="layui-input" lay-verify="Integer|max100">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">命题</label>
                        <div class="layui-input-block">
                            <input th:value="*{section}" readonly="true" type="text" name="section" autocomplete="off" placeholder="小节" class="layui-input" lay-verify="Integer">
                        </div>
                    </div>

                    <!--	<div class="layui-form-item">
                            <label class="layui-form-label">完成章节</label>
                            <div class="layui-input-block">
                                <input th:value="*{finCharp}" type="text" name="finCharp" autocomplete="off" placeholder="完成章节" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">完成小节</label>
                            <div class="layui-input-block">
                                <input th:value="*{finSection}" type="text" name="finSection" autocomplete="off" placeholder="完成小节" class="layui-input">
                            </div>
                        </div>-->

                    <div class="layui-form-item">
                        <label class="layui-form-label">创作形式</label>
                        <div class="layui-input-block">
                            <select id="form" name="form" disabled="disabled" class="layui-input valid" readonly="true" aria-invalid="false" th:value="*{form}">
                                <option th:if="*{form eq 0}" th:selected="selected"  value="0">众创</option>
                                <option th:if="*{form eq 1}" th:selected="selected"  value="1">预约</option>
                                <option th:if="*{form eq 2}" th:selected="selected"  value="2">组创</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">版权(%)</label>
                        <div class="layui-input-block">
                            <input th:value="*{copyright}" readonly="true" type="number" name="copyright" autocomplete="off" placeholder="版权" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">稿费(Tnk币)</label>
                        <div class="layui-input-block">
                            <input th:value="*{reward}" readonly="true" type="number" name="reward" placeholder="填写数字，1Tnk币=1.00人民币" autocomplete="off" class="layui-input" lay-verify="Integer|max5000">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">期限</label>
                        <div class="layui-input-block">
                            <i class="iconStyle layui-icon layui-icon-time layui-bg-gray text-black"></i>
                            <input class="layui-input"  style="padding-left: 40px" autocomplete="off" type="text" id="deadline" name="deadline" th:value="*{#dates.format(deadline,'yyyy-MM-dd HH:mm:ss')}">

                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">出品方</label>
                        <div class="layui-input-block">
                            <input th:value="*{publisher}" readonly="true" type="text" name="publisher" autocomplete="off" placeholder="出版方" class="layui-input">
                        </div>
                    </div>



                        <div class="layui-form-item">
                            <label class="layui-form-label">创作数</label>
                            <div class="layui-input-block">
                                <input th:value="*{partner}" readonly="true" type="text" name="partner" autocomplete="off" placeholder="创作者" class="layui-input">
                            </div>
                        </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">浏览量</label>
                        <div class="layui-input-block">
                            <input th:value="*{views}" readonly="true" type="text" name="views" autocomplete="off" placeholder="浏览量" class="layui-input">
                        </div>
                    </div>



                    <div class="layui-form-item">
                        <label class="layui-form-label">创建人</label>
                        <div class="layui-input-block">
                            <input th:value="*{createBy}" readonly="true" type="text" name="createBy" autocomplete="off" placeholder="创建人" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block">
                            <i class="iconStyle layui-icon layui-icon-time layui-bg-gray text-black"></i>
                            <input class="layui-input" readonly="true"  style="padding-left: 40px" autocomplete="off" type="text" id="createDat" name="createDat" th:value="*{#dates.format(createDat,'yyyy-MM-dd HH:mm:ss')}">

                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">更新时间</label>
                        <div class="layui-input-block">
                            <i class="iconStyle layui-icon layui-icon-time layui-bg-gray text-black"></i>
                            <input class="layui-input" readonly="true"  style="padding-left: 40px" autocomplete="off" type="text" id="lUpdateDat" name="lUpdateDat" th:value="*{#dates.format(lUpdateDat,'yyyy-MM-dd HH:mm:ss')}">

                        </div>

                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">来源</label>
                        <div class="layui-input-block">
                            <select id="source" name="source" disabled="disabled" class="layui-input valid" aria-invalid="false" th:value="*{source}">
                                <option th:if="*{source == null || source eq ''}" th:selected="selected" value="" selected="selected">无</option>
                                <th:block  th:each="obj : ${list}">
                                    <option th:if="${obj.dn eq ProLiter.source}" th:selected="selected" th:value="${obj.dn}"><p  th:text="${obj.topic}"></p></option>
                                </th:block>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">交流群</label>
                        <div class="layui-input-block">
                            <input th:value="*{contract}" readonly="true" type="text" name="contract" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                    </div>



                    <div class="layui-form-item">
                        <label class="layui-form-label">置顶</label>
                        <div class="layui-input-block">
                            <select id="isTop" name="isTop" disabled="disabled" class="layui-input valid" readonly="true" aria-invalid="false" th:value="*{isTop}">
                                <option th:if="*{isTop eq 0}" th:selected="selected"  value="0">否</option>
                                <option th:if="*{isTop eq 1}" th:selected="selected"  value="1">是</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">完成</label>
                        <div class="layui-input-block">
                            <select id="finish" name="finish" disabled="disabled" class="layui-input valid" readonly="true" aria-invalid="false" th:value="*{finish}">
                                <option th:if="*{finish eq 0}" th:selected="selected"  value="0">创作中</option>
                                <option th:if="*{finish eq 1}" th:selected="selected"  value="1">已完成</option>
                                <option th:if="*{finish eq -2}" th:selected="selected"  value="-2">审核中</option>
                                <option th:if="*{finish eq -1}" th:selected="selected"  value="-1">未完成</option>
                            </select>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="proLiter-update">
                <i class="layui-icon layui-icon-ok"></i>
				置顶
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
				重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>

<!--- 文件上传插件  -->
<script type="text/javascript"  th:src="@{/static/admin/bootstarp/js/fileinput.min.js}"></script>
<script type="text/javascript"  th:src="@{/static/admin/bootstarp/js/locales/zh.js}"></script>
<script>
    const fileUrl=rootPath+"/FileController/uploadImage";
    var labelCount = "[[${ProLiter.label}]]".split(";").length-1;
    $('#cover1').fileinput({
        /* theme: 'fa',*/
        language: 'zh',
        uploadAsync: true,//异步上传
        showUpload: true, //是否显示上传按钮
        uploadUrl: fileUrl,
        allowedFileExtensions: ['jpg', 'png'],
        enctype: 'multipart/form-data',
        maxFileSize:0,
        maxFileCount:1,
        uploadExtraData: function() {   //额外参数的关键点
            var obj = {
                fileType:"1"
            };
            return obj;
        }
    }).on("filebatchselected", function(event, files) {

        var reader = new FileReader();
        reader.readAsDataURL(event.target.files[0]);
        reader.onload = function (e) {
            $('#cover2').attr('src',this.result);
        };
    }).on("fileuploaded", function(event,data) { //异步上传成功结果处理
        if(data.response.code==200){
            $("#cover").val(data.response.data);
        }
    }).on("filecleared",function (event,data){
        $('#cover2').attr('src',"");
    })

    $('#exhibition1').fileinput({
        /* theme: 'fa',*/
        language: 'zh',
        uploadAsync: true,//异步上传
        showUpload: true, //是否显示上传按钮
        uploadUrl: fileUrl,
        allowedFileExtensions: ['jpg', 'png'],
        enctype: 'multipart/form-data',
        maxFileSize:0,
        maxFileCount:1,
        uploadExtraData: function() {   //额外参数的关键点
            var obj = {
                fileType:"1"
            };
            return obj;
        }
    }).on("filebatchselected", function(event, files) {

        var reader = new FileReader();
        reader.readAsDataURL(event.target.files[0]);
        reader.onload = function (e) {
            $('#exhibition2').attr('src',this.result);
        };
        //$("#logo2").attr("src",$("#logo1").val());
    }).on("fileuploaded", function(event,data) { //异步上传成功结果处理
        if(data.response.code==200){
            $("#exhibition").val(data.response.data);
        }
    }).on("filecleared",function (event,data){
        $('#exhibition2').attr('src',"");
    })
    layui.use(['form','laydate','jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let MODULE_PATH = rootPath+"/ProLiterManageController";
		
		var laydate = layui.laydate;
        //同时绑定多个
        lay('.datetime-input').each(function(){
          laydate.render({
            elem: this
            ,trigger: 'click'
            ,type: 'datetime'
          });
        });


        //名称验证
        form.verify({

            name: function(value){
                if(value==null||value=="") {
                    $("#name").addClass("alertClass").focus();
                    return '请输入书名';
                }else{
                    $("#name").removeClass("alertClass");
                }


            },
            max5000:function (value){
                if(value>5000){
                    return '输入不能超过5000';
                }
            },
            max100:function (value){
                if(value>100){
                    return '输入不能超过100';
                }
            },
            Integer:[
                /^[1-9]\d*$/
                ,'只能输入整数'
            ],


        });
        form.on('submit(proLiter-update)', function (data) {
            layer.confirm('确定要置顶该作品', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "/edit",
                    dataType: 'json',
                    data:data.field,
                    contentType: 'application/x-www-form-urlencoded',
                    type: 'post',
                    success: function (result) {
                        layer.close(loading);
                        var str;
                        if(data.field["isTop"]==0){
                            str = "作品已置顶";
                        }else{
                            str = "作品已取消置顶";
                        }

                        if (result.code==200) {
                            layer.msg(str, {icon: 1, time: 1000}, function () {;
                              //  table.reload('proLiter-table');
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
            return false;
        });
    })


    function empty(index) {
        if(labelCount>0) {

            var text = $("#lableIndex" + index).text();
            $("#childLable" + index).remove();
            var val = $("#label").val();
            val = val.replace(text+";","");
            $("#label").val(val)
            labelCount = labelCount - 1;

            console.log($("#label").val());
        }
    }

    function input(e) {
        var text = $("#label2").val();
        if(!text.endsWith(";")) return;

        var str = text.split(";")
        var html = "";
        for(let i in str){
            var val = $("#label").val();


            if(str[i]!=null&&str[i]!=""&&labelCount<3){

                if(val!=null&&val.indexOf(str[i])>=0){
                    return;
                }

                html = "<div id='childLable"+str[i]+labelCount+"' style=\"display: flex;-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;align-items: center;margin-right: 10px;\">\n"+
                    "<div id='lableIndex"+str[i]+labelCount+"' class=\"labelStyle\">"+str[i]+"</div>\n"+
                    "<span onclick=\"empty('"+str[i] + labelCount + "')\" class=\"layui-icon layui-icon-close\"></span>\n"+
                    "</div>";

                $("#label3").append(html);
                labelCount +=1;

                $("#label").val(val+text)

                $("#label2").val("");
            }
        }

    }
</script>
<script>
</script>
</body>
</html>