<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.ithink.mapper.auto.ProSubTopicMapper">
  <resultMap id="BaseResultMap" type="com.fc.ithink.model.auto.ProSubTopic">
    <result column="topic_id" jdbcType="VARCHAR" property="topicId" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="product_nm" jdbcType="VARCHAR" property="productNm" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="label1" jdbcType="VARCHAR" property="label1" />
    <result column="label2" jdbcType="VARCHAR" property="label2" />
    <result column="label3" jdbcType="VARCHAR" property="label3" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="dn" jdbcType="VARCHAR" property="dn" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_dat" jdbcType="TIMESTAMP" property="createDat" />
    <result column="l_update_dat" jdbcType="TIMESTAMP" property="lUpdateDat" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  
	  	  	      	topic_id,
       	  	      	topic,
       	  	      	creator,
       	  	      	product_nm,
       	  	      	description,
       	  	      	rank,
       	  	      	grade,
       	  	      	label1,
       	  	      	label2,
       	  	      	label3,
       	  	      	logo,
       	  	      	dn,
       	  	      	create_by,
       	  	      	create_dat,
       	  	      	l_update_dat,
       	  	      	is_del,
       	  	    	  	introduce
       	  	
  </sql>
  
  <select id="selectByExample" parameterType="com.fc.ithink.model.auto.ProSubTopicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_pro_sub_topic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pro_sub_topic
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </select>

  <update id="deleteByPrimaryKey" parameterType="java.lang.String">
    update t_pro_sub_topic
    set is_del = 1
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </update>
  <update id="deleteByExample" parameterType="com.fc.ithink.model.auto.ProSubTopicExample">
    update t_pro_sub_topic
    set is_del = 1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  
  <insert id="insert" parameterType="com.fc.ithink.model.auto.ProSubTopic">
    insert into t_pro_sub_topic (
      	  	       topic_id,
       	  	       topic,
       	  	       creator,
       	  	       product_nm,
       	  	       description,
       	  	       rank,
       	  	       grade,
       	  	       label1,
       	  	       label2,
       	  	       label3,
       	  	       logo,
       	  	       dn,
       	  	       create_by,
       	  	       create_dat,
       	  	       l_update_dat,
       	  	       is_del,
       	  	    	  introduce
       	    )
    values (
	  	  	      	#{topicId,jdbcType=VARCHAR},
       	  	      	#{topic,jdbcType=VARCHAR},
       	  	      	#{creator,jdbcType=INTEGER},
       	  	      	#{productNm,jdbcType=VARCHAR},
       	  	      	#{description,jdbcType=VARCHAR},
       	  	      	#{rank,jdbcType=INTEGER},
       	  	      	#{grade,jdbcType=INTEGER},
       	  	      	#{label1,jdbcType=VARCHAR},
       	  	      	#{label2,jdbcType=VARCHAR},
       	  	      	#{label3,jdbcType=VARCHAR},
       	  	      	#{logo,jdbcType=VARCHAR},
       	  	      	#{dn,jdbcType=VARCHAR},
       	  	      	#{createBy,jdbcType=VARCHAR},
       	  	      	#{createDat,jdbcType=TIMESTAMP},
       	  	      	#{lUpdateDat,jdbcType=TIMESTAMP},
       	  	      	#{isDel,jdbcType=INTEGER},
       	  	    	  #{introduce,jdbcType=VARCHAR}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.fc.ithink.model.auto.ProSubTopic">
    insert into t_pro_sub_topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
          
      <if test="topicId != null">
        topic_id,
      </if>
         
      <if test="topic != null">
        topic,
      </if>
         
      <if test="creator != null">
        creator,
      </if>
         
      <if test="productNm != null">
        product_nm,
      </if>
         
      <if test="description != null">
        description,
      </if>
         
      <if test="rank != null">
        rank,
      </if>
         
      <if test="grade != null">
        grade,
      </if>
         
      <if test="label1 != null">
        label1,
      </if>
         
      <if test="label2 != null">
        label2,
      </if>
         
      <if test="label3 != null">
        label3,
      </if>
         
      <if test="logo != null">
        logo,
      </if>
         
      <if test="dn != null">
        dn,
      </if>
         
      <if test="createBy != null">
        create_by,
      </if>
         
      <if test="createDat != null">
        create_dat,
      </if>
         
      <if test="lUpdateDat != null">
        l_update_dat,
      </if>
         
      <if test="isDel != null">
        is_del,
      </if>
         
      <if test="introduce != null">
        introduce,
      </if>
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="topicId != null">
        #{topicId,jdbcType=VARCHAR},
      </if>
          <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
          <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
          <if test="productNm != null">
        #{productNm,jdbcType=VARCHAR},
      </if>
          <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
          <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
          <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
          <if test="label1 != null">
        #{label1,jdbcType=VARCHAR},
      </if>
          <if test="label2 != null">
        #{label2,jdbcType=VARCHAR},
      </if>
          <if test="label3 != null">
        #{label3,jdbcType=VARCHAR},
      </if>
          <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
          <if test="dn != null">
        #{dn,jdbcType=VARCHAR},
      </if>
          <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
          <if test="createDat != null">
        #{createDat,jdbcType=TIMESTAMP},
      </if>
          <if test="lUpdateDat != null">
        #{lUpdateDat,jdbcType=TIMESTAMP},
      </if>
          <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
          <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.fc.ithink.model.auto.ProSubTopicExample" resultType="java.lang.Long">
    select count(*) from t_pro_sub_topic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update t_pro_sub_topic
    <set>
          <if test="record.topicId != null">
        topic_id = #{record.topicId,jdbcType=VARCHAR},
      </if>
          <if test="record.topic != null">
        topic = #{record.topic,jdbcType=VARCHAR},
      </if>
          <if test="record.creator != null">
        creator = #{record.creator,jdbcType=INTEGER},
      </if>
          <if test="record.productNm != null">
        product_nm = #{record.productNm,jdbcType=VARCHAR},
      </if>
          <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
          <if test="record.rank != null">
        rank = #{record.rank,jdbcType=INTEGER},
      </if>
          <if test="record.grade != null">
        grade = #{record.grade,jdbcType=INTEGER},
      </if>
          <if test="record.label1 != null">
        label1 = #{record.label1,jdbcType=VARCHAR},
      </if>
          <if test="record.label2 != null">
        label2 = #{record.label2,jdbcType=VARCHAR},
      </if>
          <if test="record.label3 != null">
        label3 = #{record.label3,jdbcType=VARCHAR},
      </if>
          <if test="record.logo != null">
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
          <if test="record.dn != null">
        dn = #{record.dn,jdbcType=VARCHAR},
      </if>
          <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
          <if test="record.createDat != null">
        create_dat = #{record.createDat,jdbcType=TIMESTAMP},
      </if>
          <if test="record.lUpdateDat != null">
        l_update_dat = #{record.lUpdateDat,jdbcType=TIMESTAMP},
      </if>
          <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
          <if test="record.introduce != null">
        introduce = #{record.introduce,jdbcType=VARCHAR},
      </if>
         
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update t_pro_sub_topic
    set
            	     	 
    	 topic_id = #{record.topicId,jdbcType=VARCHAR},
    	         	     	 
    	 topic = #{record.topic,jdbcType=VARCHAR},
    	         	     	 
    	 creator = #{record.creator,jdbcType=INTEGER},
    	         	     	 
    	 product_nm = #{record.productNm,jdbcType=VARCHAR},
    	         	     	 
    	 description = #{record.description,jdbcType=VARCHAR},
    	         	     	 
    	 rank = #{record.rank,jdbcType=INTEGER},
    	         	     	 
    	 grade = #{record.grade,jdbcType=INTEGER},
    	         	     	 
    	 label1 = #{record.label1,jdbcType=VARCHAR},
    	         	     	 
    	 label2 = #{record.label2,jdbcType=VARCHAR},
    	         	     	 
    	 label3 = #{record.label3,jdbcType=VARCHAR},
    	         	     	 
    	 logo = #{record.logo,jdbcType=VARCHAR},
    	         	     	 
    	 dn = #{record.dn,jdbcType=VARCHAR},
    	         	     	 
    	 create_by = #{record.createBy,jdbcType=VARCHAR},
    	         	     	 
    	 create_dat = #{record.createDat,jdbcType=TIMESTAMP},
    	         	     	 
    	 l_update_dat = #{record.lUpdateDat,jdbcType=TIMESTAMP},
    	         	     	 
    	 is_del = #{record.isDel,jdbcType=INTEGER},
    	         	     	 
    	 introduce = #{record.introduce,jdbcType=VARCHAR}
    	         
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
      <update id="updateByPrimaryKeySelective" parameterType="com.fc.ithink.model.auto.ProSubTopic">
    update t_pro_sub_topic
    <set>
                          
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
                      
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
                      
      <if test="productNm != null">
        product_nm = #{productNm,jdbcType=VARCHAR},
      </if>
                      
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
                      
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
                      
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
                      
      <if test="label1 != null">
        label1 = #{label1,jdbcType=VARCHAR},
      </if>
                      
      <if test="label2 != null">
        label2 = #{label2,jdbcType=VARCHAR},
      </if>
                      
      <if test="label3 != null">
        label3 = #{label3,jdbcType=VARCHAR},
      </if>
                      
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
                      
      <if test="dn != null">
        dn = #{dn,jdbcType=VARCHAR},
      </if>
                      
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
                      
      <if test="createDat != null">
        create_dat = #{createDat,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="lUpdateDat != null">
        l_update_dat = #{lUpdateDat,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
                      
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
              </set>
    
    where 
            
    topic_id = #{topicId,jdbcType=VARCHAR}
                                                                                                                                          
  </update>

      	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	

  <update id="updateByPrimaryKey" parameterType="com.fc.ithink.model.auto.ProSubTopic">
    update t_pro_sub_topic
    set 
    		 		 	  	  
		topic = #{topic,jdbcType=VARCHAR},
	  	 		 	  	  
		creator = #{creator,jdbcType=INTEGER},
	  	 		 	  	  
		product_nm = #{productNm,jdbcType=VARCHAR},
	  	 		 	  	  
		description = #{description,jdbcType=VARCHAR},
	  	 		 	  	  
		rank = #{rank,jdbcType=INTEGER},
	  	 		 	  	  
		grade = #{grade,jdbcType=INTEGER},
	  	 		 	  	  
		label1 = #{label1,jdbcType=VARCHAR},
	  	 		 	  	  
		label2 = #{label2,jdbcType=VARCHAR},
	  	 		 	  	  
		label3 = #{label3,jdbcType=VARCHAR},
	  	 		 	  	  
		logo = #{logo,jdbcType=VARCHAR},
	  	 		 	  	  
		dn = #{dn,jdbcType=VARCHAR},
	  	 		 	  	  
		create_by = #{createBy,jdbcType=VARCHAR},
	  	 		 	  	  
		create_dat = #{createDat,jdbcType=TIMESTAMP},
	  	 		 	  	  
		l_update_dat = #{lUpdateDat,jdbcType=TIMESTAMP},
	  	 		 	  	  
		is_del = #{isDel,jdbcType=INTEGER},
	  	 		 	  		
		introduce = #{introduce,jdbcType=VARCHAR}
	  	 		
    where 
            
    topic_id = #{topicId,jdbcType=VARCHAR}
                                                                                                                                            
  </update>
  
                                                                                         
</mapper>