<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.ithink.mapper.auto.UserClientMapper">
  <resultMap id="BaseResultMap" type="com.fc.ithink.model.auto.UserClient">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="appkey" jdbcType="VARCHAR" property="appkey" />
    <result column="clientid" jdbcType="VARCHAR" property="clientid" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_dat" jdbcType="TIMESTAMP" property="createDat" />
    <result column="l_update_dat" jdbcType="TIMESTAMP" property="lUpdateDat" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="dev" jdbcType="VARCHAR" property="dev" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  
	  	  	      	id,
       	  	      	appid,
       	  	      	appkey,
       	  	      	clientid,
       	  	      	user_id,
       	  	      	role,
       	  	      	create_by,
       	  	      	create_dat,
       	  	      	l_update_dat,
       	  	      	is_del,
       	  	    	  	dev
       	  	
  </sql>
  
  <select id="selectByExample" parameterType="com.fc.ithink.model.auto.UserClientExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_client
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_client
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_user_client
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fc.ithink.model.auto.UserClientExample">
    delete from t_user_client
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.fc.ithink.model.auto.UserClient">
    insert into t_user_client (
      	  	       id,
       	  	       appid,
       	  	       appkey,
       	  	       clientid,
       	  	       user_id,
       	  	       role,
       	  	       create_by,
       	  	       create_dat,
       	  	       l_update_dat,
       	  	       is_del,
       	  	    	  dev
       	    )
    values (
	  	  	      	#{id,jdbcType=VARCHAR},
       	  	      	#{appid,jdbcType=VARCHAR},
       	  	      	#{appkey,jdbcType=VARCHAR},
       	  	      	#{clientid,jdbcType=VARCHAR},
       	  	      	#{userId,jdbcType=VARCHAR},
       	  	      	#{role,jdbcType=VARCHAR},
       	  	      	#{createBy,jdbcType=VARCHAR},
       	  	      	#{createDat,jdbcType=TIMESTAMP},
       	  	      	#{lUpdateDat,jdbcType=TIMESTAMP},
       	  	      	#{isDel,jdbcType=INTEGER},
       	  	    	  #{dev,jdbcType=VARCHAR}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.fc.ithink.model.auto.UserClient">
    insert into t_user_client
    <trim prefix="(" suffix=")" suffixOverrides=",">
          
      <if test="id != null">
        id,
      </if>
         
      <if test="appid != null">
        appid,
      </if>
         
      <if test="appkey != null">
        appkey,
      </if>
         
      <if test="clientid != null">
        clientid,
      </if>
         
      <if test="userId != null">
        user_id,
      </if>
         
      <if test="role != null">
        role,
      </if>
         
      <if test="createBy != null">
        create_by,
      </if>
         
      <if test="createDat != null">
        create_dat,
      </if>
         
      <if test="lUpdateDat != null">
        l_update_dat,
      </if>
         
      <if test="isDel != null">
        is_del,
      </if>
         
      <if test="dev != null">
        dev,
      </if>
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
          <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
          <if test="appkey != null">
        #{appkey,jdbcType=VARCHAR},
      </if>
          <if test="clientid != null">
        #{clientid,jdbcType=VARCHAR},
      </if>
          <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
          <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
          <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
          <if test="createDat != null">
        #{createDat,jdbcType=TIMESTAMP},
      </if>
          <if test="lUpdateDat != null">
        #{lUpdateDat,jdbcType=TIMESTAMP},
      </if>
          <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
          <if test="dev != null">
        #{dev,jdbcType=VARCHAR},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.fc.ithink.model.auto.UserClientExample" resultType="java.lang.Long">
    select count(*) from t_user_client
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update t_user_client
    <set>
          <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
          <if test="record.appid != null">
        appid = #{record.appid,jdbcType=VARCHAR},
      </if>
          <if test="record.appkey != null">
        appkey = #{record.appkey,jdbcType=VARCHAR},
      </if>
          <if test="record.clientid != null">
        clientid = #{record.clientid,jdbcType=VARCHAR},
      </if>
          <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
          <if test="record.role != null">
        role = #{record.role,jdbcType=VARCHAR},
      </if>
          <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
          <if test="record.createDat != null">
        create_dat = #{record.createDat,jdbcType=TIMESTAMP},
      </if>
          <if test="record.lUpdateDat != null">
        l_update_dat = #{record.lUpdateDat,jdbcType=TIMESTAMP},
      </if>
          <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
          <if test="record.dev != null">
        dev = #{record.dev,jdbcType=VARCHAR},
      </if>
         
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update t_user_client
    set
            	     	 
    	 id = #{record.id,jdbcType=VARCHAR},
    	         	     	 
    	 appid = #{record.appid,jdbcType=VARCHAR},
    	         	     	 
    	 appkey = #{record.appkey,jdbcType=VARCHAR},
    	         	     	 
    	 clientid = #{record.clientid,jdbcType=VARCHAR},
    	         	     	 
    	 user_id = #{record.userId,jdbcType=VARCHAR},
    	         	     	 
    	 role = #{record.role,jdbcType=VARCHAR},
    	         	     	 
    	 create_by = #{record.createBy,jdbcType=VARCHAR},
    	         	     	 
    	 create_dat = #{record.createDat,jdbcType=TIMESTAMP},
    	         	     	 
    	 l_update_dat = #{record.lUpdateDat,jdbcType=TIMESTAMP},
    	         	     	 
    	 is_del = #{record.isDel,jdbcType=INTEGER},
    	         	     	 
    	 dev = #{record.dev,jdbcType=VARCHAR}
    	         
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
      <update id="updateByPrimaryKeySelective" parameterType="com.fc.ithink.model.auto.UserClient">
    update t_user_client
    <set>
                          
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
                      
      <if test="appkey != null">
        appkey = #{appkey,jdbcType=VARCHAR},
      </if>
                      
      <if test="clientid != null">
        clientid = #{clientid,jdbcType=VARCHAR},
      </if>
                      
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
                      
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
                      
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
                      
      <if test="createDat != null">
        create_dat = #{createDat,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="lUpdateDat != null">
        l_update_dat = #{lUpdateDat,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
                      
      <if test="dev != null">
        dev = #{dev,jdbcType=VARCHAR},
      </if>
              </set>
    
    where 
            
    id = #{id,jdbcType=VARCHAR}
                                                                                          
  </update>

      	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	

  <update id="updateByPrimaryKey" parameterType="com.fc.ithink.model.auto.UserClient">
    update t_user_client
    set 
    		 		 	  	  
		appid = #{appid,jdbcType=VARCHAR},
	  	 		 	  	  
		appkey = #{appkey,jdbcType=VARCHAR},
	  	 		 	  	  
		clientid = #{clientid,jdbcType=VARCHAR},
	  	 		 	  	  
		user_id = #{userId,jdbcType=VARCHAR},
	  	 		 	  	  
		role = #{role,jdbcType=VARCHAR},
	  	 		 	  	  
		create_by = #{createBy,jdbcType=VARCHAR},
	  	 		 	  	  
		create_dat = #{createDat,jdbcType=TIMESTAMP},
	  	 		 	  	  
		l_update_dat = #{lUpdateDat,jdbcType=TIMESTAMP},
	  	 		 	  	  
		is_del = #{isDel,jdbcType=INTEGER},
	  	 		 	  		
		dev = #{dev,jdbcType=VARCHAR}
	  	 		
    where 
            
    id = #{id,jdbcType=VARCHAR}
                                                                                            
  </update>
  
                                                           
</mapper>