<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('注册')"/>
    <link rel="stylesheet" th:href="@{/static/admin/css/other/login.css}" />

    <style type="text/css">
        .or-box {
            border-top: 1px solid #DFDFDF;
            margin-bottom: 0;
            margin-top: 80px;
            padding-top: 20px;
            position: relative;
        }
        .login-with {
            background: none repeat scroll 0 0 #F5F5F5;
            font-size: 14px;
            font-weight: bold;
            margin: 0 auto;
            padding: 0 10px;
            position: relative;
            text-align: center;
            top: -33px;
        }
        .text-center{
            text-align:center!important
        }
    </style>
</head>
<!-- 代 码 结 构 -->
<body th:background="@{/static/admin/images/login.svg}">

<form class="layui-form" style="margin-top: 0!important;" action="javascript:void(0);">
    <div style="display: flex;flex-display:row;-ms-flex-direction: row;-webkit-flex-direction: row;position:absolute;top: -50px;">
        <input type="text" name="hidden"  style="height: 0;width: 0">
        <input type="password" name="hidden2" style="height: 0;width: 0">
        <input name="username2"  autocomplete="off" placeholder="" value=""  style="height: 0;width: 0"  />
    </div>
    <div class="layui-form-item">
        <img class="logo" th:src="@{/static/admin/assets/images/logo.png}" />
        <div class="title">我思|iThink</div>

    </div>

    <div class="layui-form-item">
        <p>账号<span style="color:#ff0000;">*</span></p>
        <input name="username" type="text" placeholder="手机号" autocomplete="false" value="" lay-verify="required|phone" hover class="layui-input"  />
    </div>
    <div class="layui-form-item">
        <p>邮箱<span style="color:#ff0000;">*</span></p>
        <input name="email" type="text" placeholder="邮箱"  autocomplete="false" lay-verify="required|email" hover class="layui-input"  />
    </div>
    <div class="layui-form-item">
        <p>密码<span style="color:#ff0000;">*</span></p>
        <input id="password" name="password" type="password" placeholder="密码"  autocomplete="off" lay-verify="required|max20|min8|checkPwd"  hover class="layui-input"  />
    </div>
    <div class="layui-form-item">
        <p>确认密码<span style="color:#ff0000;">*</span></p>
        <input id="password2" name="password" type="password" placeholder="密码"  autocomplete="off" lay-verify="required|confirmPass" hover class="layui-input"  />
    </div>
    <div class="layui-form-item">
        <input placeholder="验证码 : " name="captcha" hover class="code layui-input layui-input-inline"  />
        <img th:src="@{/captcha/captchaImage?type=char}" class="codeImage" id="captchaImage"/>
    </div>
   <!-- <div class="layui-form-item">
        <input type="checkbox" name="rememberMe" title="记住密码" lay-skin="primary">
    </div>-->
    <div class="layui-form-item">
        <button class="pear-btn pear-btn-warming enroll" style="background-color:#f6ad55 !important" lay-submit lay-filter="enroll">
            注 册
        </button>
    </div>

    <div class="col-md-12 row-block" style="margin-top: 10px;display: flex;justify-content: center">
        <a onclick="agree()">《用户注册及隐私协议》</a>
    </div>
    <div class="col-md-12 row-block" style="display: flex;justify-content: center">
        <a onclick="contract()">《作者创作管理协议》</a>
    </div>
    <div class="col-md-12 row-block" style="display: flex;justify-content: center">
        <a onclick="copyright()">《用户版权协议》</a>
    </div>
    <div class="or-box" style="margin-top: 40px;">
        <center><span class="text-center login-with" onclick="login()"><b style="color: #0E0EFF">返回登陆</b></span></center>

    </div>
</form>
<th:block th:include="include :: footer"/>
<script>

    layui.use(['form','jquery','layer'], function() {
        let form = layui.form;
        let $ = layui.jquery;
        let layer = layui.layer;
        form.verify({
            confirmPass:function(value){
                if($('input[name=password]').val() !== value)
                    return '两次密码输入不一致！';
            },
            checkPwd:[

                /^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$)^.{8,16}$/
                ,"密码必须包含字母和数字"
            ],
             max20:function (value){
                 if(value>20){
                     return '输入长度不能多于20';
                 }
             },
            min1:function (value){
                if(value<1){
                    return '输入长度不能少于1';
                }
            },
            min8:function (value){
                if(value<8){
                    return '输入长度不能少于8';
                }
            }
        });
        form.on('submit(enroll)', function(data){
            let loader = layer.load();
            $(".enroll").html("<i class='layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-icon-loading' />");
            $.ajax({
                url:rootPath+'/admin/enroll',
                data:data.field,
                type:"post",
                dataType:'json',
                success:function(result){
                    layer.close(loader);
                    if(result.code==200){
                        layer.msg("注册成功，返回登录页面...",{icon:1,time:1500},function(){
                           setTimeout(function (){
                               location.href = rootPath+"/admin/index";
                           },1500)

                        })
                    }else{
                        layer.msg(result.msg,{icon:2,time:1000},function(){
                            document.getElementById("captchaImage").src=rootPath+"/captcha/captchaImage?type=char&s="+Math.random();
                        });
                    }
                    $(".enroll").html("注 册")
                }
            });
            return false;
        });

        $("#captchaImage").click(function(){
            document.getElementById("captchaImage").src=rootPath+"/captcha/captchaImage?type=char&s="+Math.random();
        })
        /*setInterval(function(){
            document.getElementById("captchaImage").src=rootPath+"/captcha/captchaImage?type=char&s="+Math.random();
        },30000);*/

        validateKickout();

    })
    function login() {
        window.location.href=rootPath+"/admin/login";
    }

    function agree(){
        window.location.href=rootPath+"/agree";
    }
    function contract(){
        window.location.href=rootPath+"/contract";
    }
    function copyright(){
        window.location.href=rootPath+"/appcontract";
    }
</script>
<!-- Session 过期处理 -->
<script>
    if(window!=top){ top.location.href = location.href; }
    function validateKickout() {
        if (getParam("kickout") == 1) {
            layer.alert("<font color='red'>您已在别处登录，请您修改密码或重新登录</font>", {
                    icon: 0,
                    title: "系统提示"
                },
                function(index) {
                    //关闭弹窗
                    layer.close(index);
                });
        }else if(getParam("sessionout") == 1){
            layer.alert("<font color='red'>登录已过期，请重新登录</font>", {
                    icon: 0,
                    title: "系统提示"
                },
                function(index) {
                    //关闭弹窗
                    layer.close(index);
                });
        }
    }

    function getParam(paramName) {
        var reg = new RegExp("(^|&)" + paramName + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURI(r[2]);
        return null;
    }

</script>

</body>
</html>