<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('诗歌创作集新增')"/>
    <link th:href="@{/static/admin/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/admin/bootstarp/css/fileinput.min.css}" rel="stylesheet"/>
    <style type="text/css">
        .labelStyle{
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            align-items: center;
            margin-right: 5px;
            padding: 5px 10px;
            background-color: #f6dda4;
            border-radius: 5px;
            color: #FFFFFF;
        }
        .alertClass{
            border-color: #ff0000;
        }
        .layui-flex-row{
            display: flex;
            flex-display: row;
            -ms-flex-direction: row;
            -webkit-flex-direction: row;
        }
        .inputdiv{
            display:flex;border: 1px solid #D2D2D2!important;
            background-color: #fff;
            height: 38px;
            line-height: 38px;
            /* padding: 0px 19px;*/
            border-radius: 4px;
        }
        .layui-input-a {
            border-style: none;
        }
        .inputdiv:hover{border-color:#D2D2D2!important}
        .iconStyle{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 30px;
            text-align: center;
            line-height: 35px;
        }
        .text-black{
            color: #000000;
        }
        label.layui-form-label{
            width: 110px;
        }
    </style>
</head>
<body>
<form class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

				<div class="layui-form-item">
                    <label class="layui-form-label">集名</label>
                    <div class="layui-input-block">
                        <input type="text" name="seter" autocomplete="off" placeholder="集名" class="layui-input">
                    </div>
                </div>


				<div class="layui-form-item">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" autocomplete="off" placeholder="名称" class="layui-input" lay-verify="name">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">封面</label>
                    <div class="layui-input-block layui-flex-row">
                        <!--<input type="text" name="cover" autocomplete="off" placeholder="封面" class="layui-input">-->
                        <input data-show-preview="false" data-allowed-file-extensions='["jpg","png"]' data-show-upload="true" class="layui-input file " type="file" id="cover1" name="cover1"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">浏览</label>
                    <div class="layui-input-block">
                        <img style="width: auto;height: auto;max-width: 100%;max-height: 100%;" alt="" class="img-responsive-social"  id="cover2" name="cover2" th:src="*{cover1}">
                    </div>
                </div>

                <input id="cover" name="cover" type="hidden"/>


                <!--		<div class="layui-form-item">
                            <label class="layui-form-label">二维码</label>
                            <div class="layui-input-block">
                                <input type="text" name="qrCode" autocomplete="off" placeholder="二维码" class="layui-input">
                            </div>
                        </div>-->


                <div class="layui-form-item">
                    <label class="layui-form-label">展示图</label>
                    <div class="layui-input-block layui-flex-row">
                        <input data-show-preview="false" data-allowed-file-extensions='["jpg","png"]' data-show-upload="true" class="layui-input file " type="file" id="exhibition1" name="exhibition1"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">浏览</label>
                    <div class="layui-input-block">
                        <img style="width: auto;height: auto;max-width: 100%;max-height: 100%;" alt="" class="img-responsive-social"  id="exhibition2" name="exhibition2" th:src="*{exhibition1}">
                    </div>
                </div>

                <input id="exhibition" name="exhibition" type="hidden"/>



				<div class="layui-form-item">
                    <label class="layui-form-label">主旨</label>
                    <div class="layui-input-block">
                        <input type="text" name="topic" autocomplete="off" placeholder="主旨" class="layui-input">
                    </div>
                </div>


				<div class="layui-form-item">
                    <label class="layui-form-label">用途</label>
                    <div class="layui-input-block">
                        <input type="text" name="purpose" autocomplete="off" placeholder="用途" class="layui-input">
                    </div>
                </div>


				<div class="layui-form-item">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                        <input type="text" name="description" autocomplete="off" placeholder="描述" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">介绍</label>
                    <div class="layui-input-block">
                        <textarea type="text" name="introduce" autocomplete="off" placeholder="" class="layui-textarea"></textarea>
                    </div>
                </div>


			<!--	<div class="layui-form-item">
                    <label class="layui-form-label">评分</label>
                    <div class="layui-input-block">
                        <input type="text" name="rate" autocomplete="off" placeholder="评分" class="layui-input">
                    </div>
                </div>-->


				<div class="layui-form-item">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-block">
                        <select id="kind" name="kind" class="layui-input valid" aria-invalid="false">
                            <option value="00" selected="selected">自由创作</option>
                            <option value="001">诗</option>
                            <option value="002">词</option>
                        </select>
                    </div>
                </div>



                <div class="layui-form-item">
                    <label class="layui-form-label">分集</label>
                    <div class="layui-input-block">
                        <input type="number" name="charpter" autocomplete="off" class="layui-input" lay-verify="Integer|max100">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">命题</label>
                    <div class="layui-input-block">
                        <input type="number" name="section" autocomplete="off" placeholder="" class="layui-input" lay-verify="Integer">
                    </div>
                </div>


				<!--<div class="layui-form-item">
                    <label class="layui-form-label">完成章节</label>
                    <div class="layui-input-block">
                        <input type="text" name="finCharpter" autocomplete="off" placeholder="完成章节" class="layui-input">
                    </div>
                </div>


				<div class="layui-form-item">
                    <label class="layui-form-label">完成小节</label>
                    <div class="layui-input-block">
                        <input type="text" name="finSection" autocomplete="off" placeholder="完成小节" class="layui-input">
                    </div>
                </div>-->



                <div class="layui-form-item">
                    <label class="layui-form-label">形式</label>
                    <div class="layui-input-block">
                        <select id="form" name="form" class="layui-input valid" aria-invalid="false">
                            <option value="0" selected="selected">众创</option>
                            <option value="1">预约</option>
                            <option value="2">组创</option>
                        </select>
                    </div>
                </div>




				<!--<div class="layui-form-item">
                    <label class="layui-form-label">创作者</label>
                    <div class="layui-input-block">
                        <input type="text" name="partner" autocomplete="off" placeholder="创作者" class="layui-input">
                    </div>
                </div>


				<div class="layui-form-item">
                    <label class="layui-form-label">浏览量</label>
                    <div class="layui-input-block">
                        <input type="text" name="views" autocomplete="off" placeholder="浏览量" class="layui-input">
                    </div>
                </div>-->


                <div class="layui-form-item">
                    <label class="layui-form-label">版权(%)</label>
                    <div class="layui-input-block">
                        <input type="number" name="copyright" autocomplete="off" placeholder="" lay-verify="Integer|max100" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">稿费(Tnk币)</label>
                    <div class="layui-input-block">
                        <input type="number" name="reward" autocomplete="off" placeholder="填写数字，1Tnk币=1.00人民币" class="layui-input" lay-verify="Integer|max5000">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">期限</label>
                    <div class="layui-input-block">
                        <i class="iconStyle layui-icon layui-icon-time layui-bg-gray text-black"></i>
                        <input class="datetime-input layui-input" style="padding-left: 40px" autocomplete="off" type="text" id="deadline" name="deadline">

                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">出版方</label>
                    <div class="layui-input-block">
                        <input type="text" name="publisher" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>




                <div class="layui-form-item">
                    <label class="layui-form-label">来源</label>
                    <div class="layui-input-block">

                        <select id="source" name="source" class="layui-input valid" aria-invalid="false">
                            <option value="" selected="selected">无</option>
                            <th:block  th:each="obj : ${list}">
                                <option th:value="${obj.dn}"><p  th:text="${obj.topic}"></p></option>
                            </th:block>
                        </select>
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">交流群</label>
                    <div class="layui-input-block">

                        <input type="text" name="contract" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
				<!--<div class="layui-form-item">
                    <label class="layui-form-label">置顶</label>
                    <div class="layui-input-block">
                        <input type="text" name="isTop" autocomplete="off" placeholder="置顶" class="layui-input">
                    </div>
                </div>-->













            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="proPoetry-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>

<!--- 文件上传插件  -->
<script type="text/javascript"  th:src="@{/static/admin/bootstarp/js/fileinput.min.js}"></script>
<script type="text/javascript"  th:src="@{/static/admin/bootstarp/js/locales/zh.js}"></script>
<script>
    const fileUrl=rootPath+"/FileController/uploadImage";
    let labelCount = 0;

    $('#cover1').fileinput({
        /* theme: 'fa',*/
        language: 'zh',
        uploadAsync: true,//异步上传
        showUpload: true, //是否显示上传按钮
        uploadUrl: fileUrl,
        allowedFileExtensions: ['jpg', 'png'],
        enctype: 'multipart/form-data',
        maxFileSize:0,
        maxFileCount:1,
        uploadExtraData: function() {   //额外参数的关键点
            var obj = {
                fileType:"1"
            };
            return obj;
        }
    }).on("filebatchselected", function(event, files) {

        var reader = new FileReader();
        reader.readAsDataURL(event.target.files[0]);
        reader.onload = function (e) {
            $('#cover2').attr('src',this.result);
        };
    }).on("fileuploaded", function(event,data) { //异步上传成功结果处理
        if(data.response.code==200){
            $("#cover").val(data.response.data);
        }
    }).on("filecleared",function (event,data){
        $('#cover2').attr('src',"");
    })

    $('#exhibition1').fileinput({
        /* theme: 'fa',*/
        language: 'zh',
        uploadAsync: true,//异步上传
        showUpload: true, //是否显示上传按钮
        uploadUrl: fileUrl,
        allowedFileExtensions: ['jpg', 'png'],
        enctype: 'multipart/form-data',
        maxFileSize:0,
        maxFileCount:1,
        uploadExtraData: function() {   //额外参数的关键点
            var obj = {
                fileType:"1"
            };
            return obj;
        }
    }).on("filebatchselected", function(event, files) {

        var reader = new FileReader();
        reader.readAsDataURL(event.target.files[0]);
        reader.onload = function (e) {
            $('#exhibition2').attr('src',this.result);
        };
        //$("#logo2").attr("src",$("#logo1").val());
    }).on("fileuploaded", function(event,data) { //异步上传成功结果处理
        if(data.response.code==200){
            $("#exhibition").val(data.response.data);
        }
    }).on("filecleared",function (event,data){
        $('#exhibition2').attr('src',"");
    })

    layui.use(['form','laydate','jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let MODULE_PATH = rootPath+"/ProPoetryController";
		var laydate = layui.laydate;
        //同时绑定多个
        lay('.datetime-input').each(function(){
          laydate.render({
            elem: this
            ,trigger: 'click'
            ,type: 'datetime'
          });
        });

        //名称验证
        form.verify({

            name: function(value){
                if(value==null||value=="") {
                    $("#name").addClass("alertClass").focus();
                    return '请输入书名';
                }else{
                    $("#name").removeClass("alertClass");
                }


            },
            max5000:function (value){
                if(value>5000){
                    return '输入不能超过5000';
                }
            },
            max100:function (value){
                if(value>100){
                    return '输入不能超过100';
                }
            },
            Integer:[
                /^[1-9]\d*$/
                ,'只能输入整数'
            ],


        });
        //保存
        form.on('submit(proPoetry-save)', function (data) {
            $.ajax({
                url: MODULE_PATH+'/add',
                data: data.field,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                type: 'post',
                success: function (result) {
                    if (result.code==200) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("proPoetry-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>
</body>
</html>